/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
   background-color: #E65100; /* Orange */
   color: #2C1178; /* Dark Blue */
}

header {
   background-color: #2C1178; /* Dark Blue */
  color: #E65100; /* Orange */

  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

header p {
  margin: 5px 0 0;
  font-size: 1.2rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.product-card {
 background-color: #fff;
  border: 2px solid #2C1178;
  color: #2C1178;
  border-radius: 8px;
  margin: 10px;
  width: 250px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100%;
  border-radius: 8px;
}

.product-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.product-card p {
  font-size: 0.9rem;
  color: #2C1178;
}

.price {
  font-weight: bold;
  color: #2C1178;
  font-size: 1.1rem;
}

footer {
  background-color: #333;
  color: #2C1178;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

footer a {
  color: #2C1178;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
