/* styles.css */
@font-face {
  font-family: 'Etlalah';
  src: url('Etlalah-Bold.woff') format('woff');
}

body {
  font-family: 'Etlalah', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff; /* white */
  color: #2C1178; /* Dark Blue */
}

header {
  background-color: #2C1178; /* Dark Blue */
  color: #E65100; /* Orange */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: 'Etlalah', sans-serif;
}

.logo {
  max-width: 120px;
  height: auto;
  margin-left: 20px;
}

.site-title {
  font-size: 1.5rem;
  text-align: right;
  margin-right: 20px;
  font-family: 'Etlalah', sans-serif;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.product-card {
  background-color: #E65100;
  border: 2px solid #2C1178;
  color: #2C1178;
  border-radius: 8px;
  margin: 10px;
  width: 250px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Etlalah', sans-serif;
}

.product-card img {
  max-width: 100%;
  border-radius: 8px;
  border: 4px solid #2C1178; /* Dark Blue Frame */
  display: block;
  margin: 0;
  padding: 0;
}

.product-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.product-card p {
  font-size: 0.9rem;
  color: #2C1178;
}

.price {
  font-weight: bold;
  color: #2C1178;
  font-size: 1.1rem;
}

footer {
  background-color: #2C1178;
  color: #E65100;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Etlalah', sans-serif; /* Apply header font to footer */
}

footer a {
  color: #E65100;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
